<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technofania : Events</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon/tf-logo-icon.ico" id="favicon">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/events.css">
    <script defer src="./js/preloader.js"></script>
</head>
<body onload="vanish()">
    <div class="preloader">
        <img src="./assets/loader.gif" alt="">
    </div>
    <header>
        <nav class="navbar">
            <section class="logo">
                <a href="https://www.nitt.edu/" target="_blank" rel="noopener noreferrer"><img src="./assets/logo/nitt.png" alt="NITT"></a>
            </section>
            <section>
                <div class="menu-btn">
                    <div class="menu-btn_burger"></div>
                </div>
                <ul class="nav-options">
                    <a href="/"><li class="nav-links">Home</li></a>
                    <a href="/events"><li class="nav-links">Events</li></a>
                    <a href="/team24"><li class="nav-links">Team</li></a>
                    <a href="/register"><li class="nav-links">Register</li></a>
                </ul>
            </section>
        </nav>
    </header>
    <h1 class="page-title">Events</h1>
    <main>
        <div class="card" data-tilt data-tilt-scale="1.06" data-tilt-glare data-tilt-max-glare="0.5">
            <div class="card-img">
                <img src="./assets/eve/Codentwined.png" alt="Codetwined">
            </div>
            <div class="card-text">
                <h2 class="card-title">Codetwined</h2>
                <em><h4 class="card-quote ct">Unscramble the Scrambled</h4></em>
                <p class="card-txt">Got bored of regular coding events? We bring to you "CodeEntwined" a unique coding event with double the fun. Not so interesting? If the question itself has a question! Remember the order matters! Make your way through the problems and code them out.The time is running out, Hurry up!</p>
            </div>
            <div class="card-action">
                <a href=""><button class="read-btn ct">READ MORE</button></a>
            </div>
        </div>
        <div class="card" data-tilt data-tilt-scale="1.06" data-tilt-glare data-tilt-max-glare="0.5">
            <div class="card-img">
                <img src="./assets/eve/Hawk-Eyed.png" alt="Hawk-Eyed">
            </div>
            <div class="card-text">
                <h2 class="card-title">Hawk-Eyed</h2>
                <em><h4 class="card-quote he">Time aroung the corner</h4></em>
                <p class="card-txt">Here's we are up with a most engaging and unique coding event.Sometimes it works, sometimes it fails but keep going to break the loop of test cases failed.Think big, Think fast, Think wider, Think deeper because the challenge is not so easy.Your miracle could be just around the corner.</p>
            </div>
            <div class="card-action">
                <a href=""><button class="read-btn he">READ MORE</button></a>
            </div>
        </div>
        <div class="card" data-tilt data-tilt-scale="1.06" data-tilt-glare data-tilt-max-glare="0.5">
            <div class="card-img">
                <img src="./assets/eve/Logic_Gates_Maze.png" alt="Logic_Gates_Maze">
            </div>
            <div class="card-text">
                <h2 class="card-title">Logic Gates Maze</h2>
                <em><h4 class="card-quote lgm">Huddle between 0 and 1</h4></em>
                <p class="card-txt">It's time to test your digital logic skills. How fast can you make your way through the circuits and reach the desired output? Remember, Hit and trial is not a part! There is only one chance and only one answer. So be fast and set your bits right!</p>
            </div>
            <div class="card-action">
                <a href=""><button class="read-btn lgm">READ MORE</button></a>
            </div>
        </div>
        <div class="card" data-tilt data-tilt-scale="1.06" data-tilt-glare data-tilt-max-glare="0.5">
            <div class="card-img">
                <img src="./assets/eve/Arcanum.png" alt="Arcanum">
            </div>
            <div class="card-text">
                <h2 class="card-title">Arcanum</h2>
                <em><h4 class="card-quote ar">The truth always prevails</h4></em>
                <p class="card-txt">Take a deep dive into this thrilling present-day crime story where a database holds the key to every answer you seek.Play in teams of two (Sherlock always needs his Watson!) and write SQL queries to discover clues that will take you closer to the truth.Can you find your way through the web of lies and deception to unravel the true story?</p>
            </div>
            <div class="card-action">
                <a href=""><button class="read-btn ar">READ MORE</button></a>
            </div>
        </div>
        <div class="card" data-tilt data-tilt-scale="1.06" data-tilt-glare data-tilt-max-glare="0.5">
            <div class="card-img">
                <img src="./assets/eve/Cyber_Quest.png" alt="Cyber_Quest">
            </div>
            <div class="card-text">
                <h2 class="card-title">Cyber Quest</h2>
                <em><h4 class="card-quote cq">Get immersed into the World of Labyrinths</h4></em>
                <p class="card-txt">Adventure awaits you, take your team on a journey. "Cyber Quest" takes you on a cryptic, interactive journey into the secret nooks and crannies. To land on an unerring pathway, deal with the challenges on the way. Browse around not like everyday. The final lock will not have 1 key , but 5. The game is on until you decode. Your teamwork is the key.</p>
            </div>
            <div class="card-action">
                <a href=""><button class="read-btn cq">READ MORE</button></a>
            </div>
        </div>
        <div class="card" data-tilt data-tilt-scale="1.06" data-tilt-glare data-tilt-max-glare="0.5">
            <div class="card-img">
                <img src="./assets/eve/Call_Yourself_Creative.png" alt="Call_Yourself_Creative">
            </div>
            <div class="card-text">
                <h2 class="card-title">Call Yourself Creative</h2>
                <em><h4 class="card-quote cyc">Its time to unlease your Artistic flair</h4></em>
                <p class="card-txt">Sharpen your sharpening skills, light up your lightning skills, because you are being tested for your creative skills. We give you a picture and you give life to the picture. Show up your wild mind and disciplined eye as you are open to your imagination. You will not be judged for your labor but for your vision.</p>
            </div>
            <div class="card-action">
                <a href=""><button class="read-btn cyc">READ MORE</button></a>
            </div>
        </div>
        <div class="card" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.5">
            <div class="card-img">
                <img src="./assets/eve/Shoot_At_Sight.png" alt="Shoot_At_Sight">
            </div>
            <div class="card-text">
                <h2 class="card-title">Shoot at Sight</h2>
                <em><h4 class="card-quote sas">Keep your eyes on the target</h4></em>
                <p class="card-txt">Put your reaction time and accuracy to the test in the minute-long game — "Shoot At Sight". Choose from a collection of weapons and crosshairs to give your best shot at becoming the "Aim God". Play as many times as you want within 24 hours and try to beat other players'. And keep a close eye on the leaderboard. It's not about reaching the top, it's about staying there!</p>
            </div>
            <div class="card-action">
                <a href=""><button class="read-btn sas">READ MORE</button></a>
            </div>
        </div>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js" integrity="sha512-kDuUo39RGApdfHkM1WQL8Pg9BYtYGS5rD14AzePsD4SEaixw7v/ykAkLMdsSjuBCNFE6/FAP+WIHh6N6QZJl5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js" integrity="sha512-b3ujtnGapNU4CVHnbzXMfHFoTkrZE3D39PT6iGLsHm9MLG5VP57ZGKIsUI+zD88rf91APZ79m6t75WAJYnNobQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/script.js"></script>
    <script type="text/javascript" src="./js/vanilla-tilt.min.js"></script>
</body>
</html>