<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technofani : Team</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon/tf-logo-icon.ico">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/team.css">
    <script defer src="./js/preloader.js"></script>
</head>
<body onload="vanish()">
    <div class="preloader">
        <img src="./assets/loader.gif" alt="">
    </div>
    <header>
        <nav class="navbar">
            <section class="logo">
                <a href="https://www.nitt.edu/" target="_blank" rel="noopener noreferrer"><img src="./assets/logo/nitt.png" alt="NITT"></a>
            </section>
            <section class="nav-list">
                <div class="menu-btn">
                    <div class="menu-btn_burger"></div>
                </div>
                <ul class="nav-options">
                    <a href="/"><li class="nav-links">Home</li></a>
                    <a href="/events"><li class="nav-links">Events</li></a>
                    <a href="/team24"><li class="nav-links">Team</li></a>
                    <a href="/register"><li class="nav-links">Register</li></a>
                </ul>
            </section>
        </nav>
    </header>
    
    <main>
        <section class="row1">
            <div class="container">
                <div class="card">
                   <div class="our-team">
                        <div class="pic">
                            <img  src="./assets/BJanet_mam.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Mrs. Janet Barnabas</h3>
                            <span class="post">Cheif Advisor</span>
                        </div>
                    </div>
                </div>
            </div>            
        </section>

        <section class="teamOption-container">
            <div class="teamOption">
                <select name="" id="">
                    <option value="/team24" selected>Team-2024</option>
                    <option value="/team23">Team-2023</option>
                    <option value="/team22">Team-2022</option>
                </select>
            </div>
        </section>


        <section class="teamTitle">
            <span>2024</span>
        </section>

        <section class="row">
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Ankur.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Ankur Bohra</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                   <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Bavi.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Chandrapavi Nadar</h3>                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Bhushan.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Bhushan Mendhe</h3>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Dheeraj.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Dheeraj Lakhotra</h3>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Kritarth.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Kritarth Soni</h3>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Nilanjana.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Nilanjana Thakur</h3>                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Pooja.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Pooja Somani</h3>                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Virender.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Virender Singh</h3>                 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js" integrity="sha512-kDuUo39RGApdfHkM1WQL8Pg9BYtYGS5rD14AzePsD4SEaixw7v/ykAkLMdsSjuBCNFE6/FAP+WIHh6N6QZJl5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js" integrity="sha512-b3ujtnGapNU4CVHnbzXMfHFoTkrZE3D39PT6iGLsHm9MLG5VP57ZGKIsUI+zD88rf91APZ79m6t75WAJYnNobQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/script.js"></script>
    <script src="./js/team.js"></script>
</body>
</html>