<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technofani : Team</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon/tf-logo-icon.ico">
    <link rel="stylesheet" href="./css/team.css">
    <link rel="stylesheet" href="./css/navbar.css">
</head>

<body>

    <header>
        <nav class="navbar">
            <section class="logo">
                <img src="./assets/logo/nitt.png" alt="">
            </section>
            <section>
                <ul class="nav-options">
                    <a href="/">
                        <li class="nav-links">Home</li>
                    </a>
                    <a href="#">
                        <li class="nav-links">Events</li>
                    </a>
                    <a href="/team24">
                        <li class="nav-links">Team</li>
                    </a>
                    <a href="/register">
                        <li class="nav-links">Register</li>
                    </a>
                </ul>
            </section>
        </nav>
    </header>

    <main>
        <section class="row1">
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/BJanet_mam.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Mrs. Janet Barnabas</h3>
                            <span class="post">Cheif Advisor</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="teamOption">
                <select>
                    <option value="/team24">Team-2024</option>
                    <option value="/team23" selected>Team-2023</option>
                    <option value="/team22">Team-2022</option>
                </select>
            </div>
        </section>
        <section class="teamTitle">
            <span>2023</span>
        </section>
        <section class="row2">
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team23/Payal.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Payal Soni</h3>
                            <span class="post">Chair Person</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team23/Kunal.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Kunal Kumavat</h3>
                            <span class="post">Treasurer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team23/Manish.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Manish Nangliya</h3>
                            <span class="post">Overall-Coordinator</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row3">
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team23/Bhumika.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Bhumika Khakha</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team23/Mahima.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Mahima Parmar</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team23/Prashansha.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Prashansha Geete</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row4">
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team23/Shanoor.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Shanoor Ahmed</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team23/Shivam.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Shivam Singh</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team23/Shivangi.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Shivangi Gupta</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="./js/team.js"></script>

</body>

</html>