<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technofani : Team</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon/tf-logo-icon.ico">
    <link rel="stylesheet" href="./css/team.css">
    <link rel="stylesheet" href="./css/navbar.css">
</head>
<body>
    
    <header>
        <nav class="navbar">
            <section class="logo">
                <img src="./assets/logo/nitt.png" alt="" >
            </section>
            <section>
                <ul class="nav-options">
                    <a href="/"><li class="nav-links">Home</li></a>
                    <a href="#"><li class="nav-links">Events</li></a>
                    <a href="/team24"><li class="nav-links">Team</li></a>
                    <a href="/register"><li class="nav-links">Register</li></a>
                </ul>
            </section>
        </nav>
    </header>
    
    <main>
        <section class="row1">
            <div class="container">
                <div class="card">
                   <div class="our-team">
                        <div class="pic">
                            <img  src="./assets/BJanet_mam.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Mrs. Janet Barnabas</h3>
                            <span class="post">Cheif Advisor</span>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="teamOption">
                <select name="" id="">
                    <option value="/team24" selected>Team-2024</option>
                    <option value="/team23">Team-2023</option>
                    <option value="/team22">Team-2022</option>
                </select>
            </div>
            
        </section>
        <section class="teamTitle">
            <span>2024</span>
         </section>
        <section class="row2">
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Ankur.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Ankur Bohra</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                   <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Bavi.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Chandrapavi Nadar</h3>                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Bhushan.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Bhushan Mendhe</h3>                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row3">
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Dheeraj.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Dheeraj Lakhotra</h3>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Kritarth.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Kritarth Soni</h3>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Nilanjana.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Nilanjana Thakur</h3>                          
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row4">
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Pooja.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Pooja Somani</h3>                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="our-team">
                        <div class="pic">
                            <img src="./assets/team24/Virender.png">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Virender Singh</h3>                 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="./js/team.js"></script>

</body>
</html>