@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    height: auto;
    width: 100%;
    background-color: black;
}

.container section {
    padding: 2rem;
}

.regis-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

blockquote {
    font-size: 1.4rem;
}

.details-container img {
    width: 80%;
    padding-top: 2rem;
}

.description {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

.desc-title {
    font-weight: 500;
    color: rgb(255, 47, 92);
    font-size: 2.4rem;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

/* Form Style */

.form-container {
    width: 90%;
    border-radius: 10px;
    padding: 1rem;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: black;
}

.form-title {
    font-size: 2.2rem;
    color: black;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    color: black;
    border: none;
    border-radius: 4px;
    padding: .3rem;
    margin-right: 5px;
    outline: none;
}

form label {
    font-size: .8rem;
    font-weight: 600;
    color: black;
}

form .member-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 1rem;
    justify-content: space-around;
}

.register-btn {
    padding: .5rem 3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: black;;
    color: white;
}

input[type="file"] {
    background-color: white;
}

.register-btn:hover {
    background-color: rgb(46, 46, 46);
}

/* Form Style end */

/* alert style */

.alert {
    position: absolute;
    text-align: center;
    padding: .5rem 2rem;
    border-radius: 5px;
    top: 1%;
    left:50%;
    transform: translateX(-50%);
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border: 1px solid #badbcc;
}

.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
}

.alert-error>li {
    color: #842029;
}

/* alert styles end */

/* media queries */

@media only screen and (width: 1280px) and (height: 800px) {
    .container {
        height: 100vh;
    }
}

@media only screen and (min-width: 900px) and (min-height: 721px) {
    .container {
        height: 100vh;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
    }

    .details-container {
        margin-top: 4rem;
    }

    .navbar.toggle {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    .regis-container {
        margin-top: 11rem;
    }

    .info-container {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 500px) {

    .details-container {
        margin-top: -9rem;
    }

    blockquote {
        font-size: 1rem;
    }

    .description {
        font-size: .8rem;
        line-height: 1.5;
        text-align: justify;
    }

    .desc-title {
        font-weight: 500;
        color: rgb(255, 47, 92);
        font-size: 1.8rem;
    }

    .info-container {
        margin-top: 0;
    }

    .form-container form {
        align-items: unset;
    }

    .form-title {
        font-size: 1.8rem;
        color: black;
    }

    form input {
        width: 100%;
    }

    form label {
        font-size: .7rem;
    }

    form .member-container {
        flex-direction: column;
        align-items: unset;
        margin: 0;
    }
}

@media only screen and (max-width: 430px) {
    .navbar {
        padding: .5rem .5rem;
    }

    .menu-btn {
        top: 29%;
        right: 5%;
    }
}